img {
	height:175px;
	margin:20px 10px 0 10px;
	display:inline;
}

.btn-group {
	margin:10px 5px 0 5px;
}

.clearfix :after{
	display:block;
	content="";
	clear:both;
}

.top-row {
	width:100%;
}

.panel {
	margin:10px 20px;
	float:right;
}

#gifArea {
	display:inline;
}

input {
	margin-right:10px;
}

.well {
	height:600px;
	overflow: scroll;
	scroll-behavior: 
}
body {
	width:100%;
	position:absolute;
	background-color:#E4EFF8;
}
#buttonArea {
	display:inline;
}
.imgDiv {
	display:inline-block;
}
.caption {
	display:block;
	text-align:center;
	padding-top:1px;
}
